{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau hôtel</h1>
    {{ include( 'admin/proporty/_form.html.twig', {button: 'Creer'} )}}
</div>



{% endblock %}